<div class="container mx-auto w-1/4">
    <img src="assets/images/home.jpg" alt="">
</div>

<div>
    <p class="mb-3 text-lg md:text-1 text-center">En Empresa, nos dedicamos a transformar tus ideas en realidades tangibles. Con más de 20 años de experiencia en el mercado, nos hemos consolidado como líderes en nuestro sector, ofreciendo soluciones innovadoras y personalizadas a cada uno de nuestros clientes. Nuestro equipo está compuesto por expertos apasionados y comprometidos con la excelencia, siempre dispuestos a superar tus expectativas.
    es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen
    </p>
</div>